#ignora los archivos pdf
*.pdf

#ignora la carpeta pruebas
pruebas

#ignora la conexión y la carpeta con el archivo sql
accesoDatos/conexion.php
accesoDatos/sql

#ignora la carpeta api
api

#ignora la carpeta helpers
helper

.gitignore

