header{
    grid-area: head;
    background-color: $primario;
    height: 100px;
    color: $secundario;
}

#logo{
    height: auto;
    width: 100px;
}

header a{
    text-decoration: none;
    color: $secundario;
}
/*
header a .logout{
    visibility: hidden;
}*/