.c-formulario{
    width: 500px;
    height: 50%;
    background-color: rgb(241, 247, 241, 0.6);
    padding: 20px;

    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    box-shadow: 0 10px 24px rgb(1, 1, 1);

    &--registro{
        height: 450px;
    }
    &__radio{
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }
}

.c-formulario h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: $enfasis;
    font-weight: 700;
}

.c-formulario ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.c-formulario ul li:not(#botonCentral){
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.c-formulario input:not([type="submit"]){
    margin: 4px;
    width: 80%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.801);
    border-width: 0px;
    border-radius: 5px;

    &:invalid{
        border-color: $alerta;
        border-width: 1px;
        border-style: solid;
    }
}

.c-formulario input:hover:not([type="submit"],[type="radio"]){
    box-shadow: 0 5px 15px $primario;
}

.c-formulario input:focus:not([type="submit"],[type="radio"]){
    box-shadow: 0 5px 15px $primario;
    border-color: $enfasis;
}

.c-formulario a{
    font-size: 11px;
}
